<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/css/index.css">
<body>   
            <form  action="/account-type/update/" method="post" id="form"  enctype="multipart/form-data">
                <h2>UPDATE ACCOUNT</h2>
                <label>icon</label>
                <input type="hidden" name="_id" value="<%= accounts._id %>">
                <input type="file" name="icon" id="icon">
                <label>Account Type</label>
                <input type="text" name="account_type" id="accounttype"  placeholder="Enter your account type">
                <label>Description </label>
                <input type="text" name="description" id="description"  placeholder="Enter your description"><br><br>
                <button type="submit" class="btn">Submit</button><br><br> 
                <div class="btn2-box">
                    <button type="submit" class="btn2"><a href="/account-type/list">Cancle</a></button><br><br> 
                </div>
            </form> 
</body>
</html>
</body>
</html>