
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="/css/index.css">
<body>  
            <form  action="/catgory/add" method="post" id="form" enctype="multipart/form-data">
                <h2>ADD CATEGORY</h2>
                <label>icon</label>
                <input type="file" name="icon" id="icon">
                <label>Title</label>
                <input type="text" name="title" id="title" placeholder="Enter your category">
                <label>Description </label>
                <input type="text" name="description" id="description"  placeholder="Enter your description"><br><br>
                
                <button type="submit" class="btn">Submit</button><br><br> 
                <div class="btn2-box">
                    <button type="submit" class="btn2"><a href="/category/list">Cancle</a></button><br><br> 
                </div>
            </form> 
</body>
</html>