<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot</title>
    <link rel="stylesheet" href="/css/index.css">
<body>
            <form  action="/admin/forgot-password" method="post" id="form">
                <h2>Forgot Password</h2>
                <label>Email Address</label>
                <input type="text" name="email" id="email" placeholder="abc@gmail.com" required>
               <button type="submit" class="btn">Send Code</button><br><br>
            </form> 
</body>
</html>