<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/all.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <div class="container">
            <nav> 
                <div class="icon">
                    <img src="/img/logo.svg" alt="">
                </div>
                <ul class="row2 align-item-center justify-between">
                        <li><a href=""></a></li>
                </ul>
               </nav>
          </div>
    </header>
</body>
</html>