<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset</title>
    <link rel="stylesheet" href="/css/index.css">
<body>  
            <form  action="/admin/resetpassword" method="post" id="form">
                <h2>Reset Password</h2>
                <label>New Password</label>
                <input type="text" name="newpassword" id="newpassword" placeholder="Enter your newpassword" required>
                <label>Confrom Password </label>
                <input type="text" name="confrompassword" id="confrompassword" placeholder="At least 6 characters" required><br><br>
                <button type="submit" class="btn">Reset Password</button><br><br> 
            </form> 
</body>
</html>