<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/css/index.css">
<body>  
            <form  action="/admin/signup" method="post" id="form">
                <h2>SIGNUP ACCOUNT</h2>
                <label>Username</label>
                <input type="text" name="full_name" id="username" placeholder="Enter Username">
                <label>Email Address</label>
                <input type="text" name="email" id="email" placeholder="abc@gmail.com">
                <label>Password </label>
                <input type="text" name="password" id="password" placeholder="At least 6 characters"><br><br>
                <label>ConfromPassword </label>
                <input type="text" name="c_pass" id="confrompassword" placeholder="At least 6 characters"><br><br>  
                <button type="submit" class="btn">SIGN IN</button><br><br> 
               <p id="account">Already have an account ? <a href="/admin/login">Login</a></p>
            </form> 
</body>
</html>