<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify</title>
    <link rel="stylesheet" href="/css/index.css">
<body>
            <form  action="/admin/otpverify" method="post" id="otpform">
                <h2>OTP Verification</h2>
                <div class="main">
                    <input type="hidden" name="email" value="<%= email %>" id="email">
                    <input type="text">
                </div>
               <button type="submit" class="otpbtn">Send Code</button><br><br>
            </form> 
</body>
<script>
        
</script>
</html>
